# vscode 설정파일
.vscode/
# vscode 워크스페이스 설정파일
*.code-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
venv/
env/
.env
*.log
.venv-test/

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
